{% extends "base.html" %}
{% block titulo %}Acceso Bodega HC Alimentos{% endblock %}
{% block contenido %}
<div class="form-box" style="max-width: 400px; margin: 40px auto; text-align: center;">
    <h2 style="color: var(--rojo-marca);">Iniciar Sesión</h2>
    <p style="color: var(--gris-texto); font-size: 14px;">Ingrese sus credenciales de acceso</p>
    
    <form method="POST" action="/">
        <div style="text-align: left;">
            <label>Usuario</label>
            <input type="text" name="usuario" required placeholder="Ingrese su usuario">
            
            <label>Contraseña</label>
            <input type="password" name="clave" required placeholder="Ingrese su contraseña">
        </div>
        
        <button type="submit" style="width: 100%; margin-top: 25px; padding: 12px; font-size: 16px;">Entrar al Sistema</button>
    </form>
</div>
{% endblock %}
