{% extends "base.html" %}
{% block titulo %}Gestión de Productos{% endblock %}
{% block contenido %}
<h2>Catálogo de Productos</h2>

<div style="display: flex; gap: 24px; flex-wrap: wrap;">
    <div class="form-box" style="flex: 1; min-width: 300px;">
        <h3 style="margin-top: 0;">Agregar Producto</h3>
        <form method="POST" action="{{ url_for('productos') }}">
            <label>Código SKU</label>
            <input type="text" name="codigo" required placeholder="Ej: HC-1001">
            
            <label>Nombre del Producto</label>
            <input type="text" name="nombre" required placeholder="Ej: Harina 25kg">
            
            <label>Unidad de Medida</label>
            <input type="text" name="unidad" required placeholder="Ej: Kilos, Cajas, Litros, Sacos">
            
            <button type="submit" style="width: 100%; margin-top: 15px;">Guardar Producto</button>
        </form>
    </div>

    <div style="flex: 2; min-width: 400px;">
        <div class="scroll-box">
            <table>
                <tr>
                    <th>Código SKU</th>
                    <th>Nombre</th>
                    <th>Unidad</th>
                    <th>Estado</th>
                    {% if session.get('rol') == 'Administrador' %}
                    <th>Acciones</th>
                    {% endif %}
                </tr>
                {% for p in productos %}
                <tr>
                    <td><strong>{{ p.codigo }}</strong></td>
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.unidad }}</td>
                    <td>
                        {% if p.activo %}
                            <span class="badge badge-activo">Activo</span>
                        {% else %}
                            <span class="badge badge-consumido">Inactivo</span>
                        {% endif %}
                    </td>
                    {% if session.get('rol') == 'Administrador' %}
                    <td>
                        <a href="{{ url_for('editar_producto', id_producto=p.id_producto) }}" style="color:#2c7be5; text-decoration:none; margin-right:10px; font-weight:600;">Editar</a>
                        <a href="{{ url_for('eliminar_producto', id_producto=p.id_producto) }}" style="color:#C8311F; text-decoration:none; font-weight:600;" onclick="return confirm('¿Seguro que deseas eliminar este producto permanentemente?');">Eliminar</a>
                    </td>
                    {% endif %}
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" style="text-align: center; color: #5C564E;">No hay productos registrados en la base de datos.</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
